.bin {
	position: absolute;
	width: 97%;
	height: 80vh;
	left: 1.5%;
	top: 5%;
	background-color: #c6c6c6;

	@media screen and (min-width: 1024px) {
		width: 65%;
		height: 80vh;
		left: 12rem;
		top: 10%;
	}
	@media screen and (min-width: 1440px) {
		width: 60%;
		height: 80vh;
		left: 20rem;
		top: 10%;
	}
	@media screen and (min-width: 1900px) {
		width: 50vw;
		height: 80vh;
		left: 30rem;
		top: 10%;
	}

	&-fadeIn {
		animation: open 1s ease-in-out;
	}

	&__top {
		background-color: #000080;
		width: 100%;
		height: 2rem;
		display: flex;
		justify-content: space-between;
		border: none;
		overflow: hidden;
		& > span {
			color: #fff;
			font-family: MS;
			font-weight: 500;
			font-size: large;
			letter-spacing: 0.09rem;
			padding: 4px 10px;
			overflow: hidden;
		}

		& > a {
			background-color: #c6c6c6;
			padding: 3px;
			margin: 5px;
			cursor: pointer;
			border-radius: 1px;
			overflow: hidden;
			&:focus {
				background-color: darken($color: #c6c6c6, $amount: 10%);
			}
		}
	}
	&__middle {
		box-shadow: 1px 0 2px rgb(0, 0, 0);
		height: 2rem;
	}
	&__placeholders {
		width: 70%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px;
		cursor: pointer;

		@media screen and (min-width: 768px) {
			width: 30%;
		}
		@media screen and (min-width: 1024px) {
			width: 25%;
		}
	}
}

.window {
	background-color: #fff;
	height: 69vh;
	margin: auto;
	margin-top: 0.75rem;
	width: 97%;
	box-shadow: 1px 1px 1px #000, inset 1px 1px 1px grey;
	font-family: MS;
	overflow: auto;

	@media screen and (min-width: 1900px) {
		height: 70vh;
	}

	&-fadeIn {
		animation: projects 1s ease-in-out;
	}
	&__grid {
		width: 90%;
		height: 60%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 1rem;
		text-align: center;
		margin: 0 auto;
		letter-spacing: 0.2rem;

		&-projects {
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
			height: 60%;
			text-align: center;
			margin: 0 auto;
			letter-spacing: 0.2rem;
			display: grid;

			@media screen and (min-width: 768px) {
				width: 70%;
			}
			@media screen and (min-width: 1024px) {
				width: 50%;
			}

			@media screen and (min-width: 1900px) {
				width: 70%;
			}
		}
	}
	&__section {
		display: flex;
		flex-direction: column;
		height: 35%;

		& > img {
			margin: auto;
			margin-bottom: 0;
			width: 25%;
			margin-top: 2rem;
		}
		& > span {
			margin-top: 3px;
			letter-spacing: 0.05rem;
		}
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
	}

	&__mainTitle,
	&__subTitle {
		margin: 1rem auto;
		letter-spacing: 0.1rem;
	}
	&__subTitle {
		text-align: center;
	}

	&__paragraph {
		margin: 1rem 2rem;
		letter-spacing: 0.1rem;
		font-size: large;
		text-align: center;
	}
}

@keyframes open {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes projects {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
